*{
    margin: 0;
    padding: 0;
  }
  
  body{
    box-sizing: border-box;
    text-align: center;
    width: 80%;
    height: 100vh;
    border: 1px solid red;
    margin: 0 auto;
  }
  
  
  h1{
  border-bottom: 2px solid black;
  
  }
  a{
    padding: 5px;
    margin: 1rem;
    text-decoration: none;
  }
  
  main{
    padding: 1rem;
    margin: 1rem;
    border: 1px solid black;
    height: 250px;
  }
  
  @media (min-width: 320px){
    h1{
      font-size: 1.5rem;
    }
    h2{
      font-size: 1.5rem;
    }
  }